.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #62757f;
  /*height: 100px;*/
  padding: 20px;
  color: white;
}

.App-header .title {
  font-family: "Orbitron", monospace;
  font-size: 80px;
}

.App-intro {
  font-size: large;
}

.build-info {
  font-family: monospace;
  position: absolute;
  top: 5px;
  right: 5px
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
